#player {
    padding:            1rem;
    border-bottom:      0.2rem solid @gray;
    background-color:   @charcoal;
}

#explorer {

    > .station-list {
        .nolist();

        > .station {
            padding:        1rem;
            min-height:     4rem;
            overflow:       hidden;
            border-bottom:  0.1rem solid @charcoal;

            &.playing {
                background-color:   @charcoal;
            }

            > .buttons {
                float:      right;
                text-align: right;
            }
            > .info {
                margin:     0 10rem 0 0;
                > .name {
                    display:        block;
                    font-weight:    bold;
                }
                > .description {
                    font-weight:    normal;
                    font-size:      1.2rem;
                    color:          @gray;
                }
            }

            &.unsupported {
                display:        none;
                > .buttons {
                    display:    none;
                }
                > .info {
                    margin:     0;
                    font-style: italic;
                    color:      @charcoal;
                }
            }
        }
    }
}

