/// Variables: -----------------------------------------------------------------

@white:     #EAEFF2;
@gray:      #909498;
@charcoal:  #4D4E53;
@black:     #000;

/// Mixins: --------------------------------------------------------------------

.nolist() {
    list-style:     none;
    display:        block;
    padding:        0;
    margin:         0;
    > li {
        list-style: none;
        display:    block;
        padding:    0;
        margin:     0;
    }
}


